<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}

  <link rel="stylesheet" href="http://localhost:3001/core/assets/load_assets/tailwind/dist/min.css?creq=4b5f590443796801121a196b17222b" />
  <!-- <link rel="stylesheet" href="http://localhost:3001/core/assets/load_assets/tailwind/dist/min.css" /> -->

  <!-- jQuery UI 1.11.4 -->
  <script src="http://localhost:3001/core/assets/load_script/jquery/jquery.min?creq=4b5f590443796801121a196b17222b"></script>
  <script src="http://localhost:3001/core/assets/load_script/jquery/jquery-ui?creq=4b5f590443796801121a196b17222b"></script>
  <script src="http://localhost:3001/core/assets/load_script/jquery/jquery-dateFormat.min?creq=4b5f590443796801121a196b17222b"></script>
  <script src="http://localhost:3001/core/assets/load_script/jquery/jquery.status>jquery/jquery.utils>jquery/jquery.stringify?creq=4b5f590443796801121a196b17222b"></script>

  <script src="http://localhost:3001/core/assets/load_script/jquery/jquery.simasgrid.2?creq=4b5f590443796801121a196b17222b"></script>
  <link rel="stylesheet" href="http://localhost:3001/core/assets/load_style/jquery/jquery.simasgrid.2a?creq=4b5f590443796801121a196b17222b" />

  <script type="text/javascript">
    (function($){
        $.extend({
            newfunc: function (){}
            ,jsObj:{
              inst_data: {
                id:""
                ,change_id:function(id){

                  $.jsObj.inst_data.id=id;
                  $.vueElemen.inst_data.id=id;
                }
                ,idx:""
                ,change_idx:function(idx){

                  $.jsObj.inst_data.idx=idx;
                  $.vueElemen.inst_data.idx=idx;
                }
                ,item:{}
                ,change_item:function(item){
                  $.jsObj.inst_data.item=JSON.parse(JSON.stringify(item));
                  $.vueElemen.inst_data.item=JSON.parse(JSON.stringify(item));
                }
                ,lst:{}
                ,change_lst:function(lst){
                  $.jsObj.inst_data.lst=JSON.parse(JSON.stringify(lst));
                  $.vueElemen.inst_data.lst=JSON.parse(JSON.stringify(lst));
                }
                ,arr:[]
                ,change_arr:function(arr){
                  $.jsObj.inst_data.arr=JSON.parse(JSON.stringify(arr));
                  $.vueElemen.inst_data.arr=JSON.parse(JSON.stringify(arr));
                }
                ,reset_arr:function(arr){
                  $.jsObj.inst_data.change_arr({});
                }
                ,reload_arr:function(arr){
                  $.jsObj.inst_data.change_arr({});
                }
              }
              ,boxElemen: {
                show: function(){
                  // $.vueElemen.show();
                }
                ,hide: function(){
                  // $.vueElemen.hide();
                }
              }
            }
            ,init: function(){
              // $.vueElemen.init();
            }
        });
    })( jQuery );
    $(document).ready(function(){
        $.init();
    });
  </script>

  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
