<template>
  <div>
    Halaman detail video : {{ globaldata.currdata.name }}
    <br />
    <Nuxt-Link v-bind:to="'/videos/'">back</Nuxt-Link>
  </div>
</template>

<script>
export default {
	data(){
		return {
			videos:{}
		}
	}
	,props:['globaldata']
}
</script>