<template>
  <div>
    <h4>{{ GET_CURRDATA.name }}</h4>
  	Daftar video : <br />
    <Nuxt-Link v-bind:to="'/videos/'+globaldata.currdata.id">{{ globaldata.currdata.name }}</Nuxt-Link>
    <Nuxt-Link v-bind:to="'/videos/table'">table</Nuxt-Link>
    <div v-on:click="subevent1">subevent1</div>
  </div>
</template>

<script>
export default {
	data(){
		return {
		}
	}
	,created:() => {
	}
	,props:['globaldata']
	,computed:{
		GET_CURRDATA(){
		  return this.$store.state.currdata;
		}
		,GET_MODEL1(){
		  return this.$store.state.INST_MODEL1.model1;
		}
		,GET_SUBMODEL1(){
		  return this.$store.state.INST_SUBMODEL1.submodel1;
		}
		,GET_SUBMODEL2(){
		  return this.$store.state.INST_SUBMODEL2.submodel2;
		}
	}
	,methods: {
	    subevent1 () {
	    	alert('subevent1');
	    	console.log(this.globaldata);
	    } 
	}
}
</script>