<template>
  <div>
	<div id="table1" title="Table Disini">
		Table Disini
    </div>
    <div v-on:click="subevent1">subevent1</div>
    <Nuxt-Link v-bind:to="'/videos/'">back</Nuxt-Link>
  </div>
</template>

<script>
export default {
	data(){
		return {
			'data2':''
		}
	}
  	,layout: 'empty'
	,props:['globaldata']
	,mounted: function() {
		
    	//check di setiap halaman, apakah jquery sudah di load
		const awaitScriptInterval = setInterval(() => {
		    if (typeof jQuery !== 'undefined') {
		        clearTimeout(awaitScriptInterval);
		        this.reattachtable1();
		    }
		}, 500);
	}
	,methods: {
	    reattachtable1 () {
	    	if(window.gridObj){
	    		var currGridObj = window.gridObj;
	    		if(currGridObj['table1']) delete(currGridObj['table1']);
	    	}
	    	$('#table1').simasgrid({'width':'100%'});
			$.jsObj.video_table = $('#table1').simasgrid('getObj');
	    } 
	    ,subevent1 () {
	    	$.jsObj.video_table.rebuildGrid();
	    	$.jsObj.video_table.resize('100%');
	    } 
	}
}

</script>