/*
  var 1 : Roboto, Roboto Light, Roboto-Light.woff
  var 2 : Roboto, Roboto Regular, Roboto-Regular.woff
  var 3 : Roboto, Roboto Regular, Roboto-Regular.woff
  var 4 : Roboto, Roboto Medium, Roboto-Medium.woff
  var 5 : Roboto, Roboto Bold, Roboto-Bold.woff
*/
@mixin loadfont(
  $var1: Roboto,
  $var2: "Roboto Medium",
  $var3: "Roboto-Medium.woff",
  $var4: 100
) {
  font-family: $var1;
  src: local($var2),
    url("../load_assets/materialize/"+$var3+"2?creq=4b5f590443796801121a196b17222b")
      format("woff2"),
    url("../load_assets/materialize/"+$var3+"?creq=4b5f590443796801121a196b17222b")
      format("woff");
  font-weight: $var4;

  // include mixin
  // div{
  //   @include loadfont(param);
  // }
}

// mixin
@mixin defcard() {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

div.master_grid{
  font-size: 90%;
}

// reset default element style fo browser
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
input,
textarea,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

.responsive {
  max-width: 100%;
  /*width: 100%;*/
  height: auto;
}

.z-depth-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.z-depth-1 {
  /*.card, .toast, .btn, .btn-floating, .dropdown-content*/
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half {
  /*.btn:hover*/
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4 {
  /*.modal*/
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.hoverable {
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

.hoverable:hover {
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.box-inline {
  /*position: relative; tambahkan saja manual nanti*/
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}

.col-prfl-1,
.col-prfl-2,
.col-prfl-3,
.col-prfl-4,
.col-prfl-5,
.col-prfl-6,
.col-prfl-7,
.col-prfl-8,
.col-prfl-9,
.col-prfl-10,
.col-prfl-11,
.col-prfl-12,
.col-prfl-offset-1,
.col-prfl-offset-2,
.col-prfl-offset-3,
.col-prfl-offset-4,
.col-prfl-offset-5,
.col-prfl-offset-6,
.col-prfl-offset-7,
.col-prfl-offset-8,
.col-prfl-offset-9,
.col-prfl-offset-10,
.col-prfl-offset-11,
.col-prfl-offset-12,
.col-prfl-limit-1,
.col-prfl-limit-2,
.col-prfl-limit-3,
.col-prfl-limit-4,
.col-prfl-limit-5,
.col-prfl-limit-6,
.col-prfl-limit-7,
.col-prfl-limit-8,
.col-prfl-limit-9,
.col-prfl-limit-10,
.col-prfl-limit-11,
.col-prfl-limit-12,
.elm-prfl-show,
.elm-prfl-hidden {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}
.col-prfl-12 {
  width: 100% !important;
}
.col-prfl-11 {
  width: 91.66666667% !important;
}
.col-prfl-10 {
  width: 83.33333333% !important;
}
.col-prfl-9 {
  width: 75% !important;
}
.col-prfl-8 {
  width: 66.66666667% !important;
}
.col-prfl-7 {
  width: 58.33333333% !important;
}
.col-prfl-6 {
  width: 50% !important;
}
.col-prfl-5 {
  width: 41.66666667% !important;
}
.col-prfl-4 {
  width: 33.33333333% !important;
}
.col-prfl-3 {
  width: 25% !important;
}
.col-prfl-2 {
  width: 16.66666667% !important;
}
.col-prfl-1 {
  width: 8.33333333% !important;
}
.col-prfl-offset-12 {
  margin-left: 100% !important;
}
.col-prfl-offset-11 {
  margin-left: 91.66666667% !important;
}
.col-prfl-offset-10 {
  margin-left: 83.33333333% !important;
}
.col-prfl-offset-9 {
  margin-left: 75% !important;
}
.col-prfl-offset-8 {
  margin-left: 66.66666667% !important;
}
.col-prfl-offset-7 {
  margin-left: 58.33333333% !important;
}
.col-prfl-offset-6 {
  margin-left: 50% !important;
}
.col-prfl-offset-5 {
  margin-left: 41.66666667% !important;
}
.col-prfl-offset-4 {
  margin-left: 33.33333333% !important;
}
.col-prfl-offset-3 {
  margin-left: 25% !important;
}
.col-prfl-offset-2 {
  margin-left: 16.66666667% !important;
}
.col-prfl-offset-1 {
  margin-left: 8.33333333% !important;
}
.col-prfl-offset-0 {
  margin-left: 0;
}
.col-prfl-limit-12 {
  margin-right: 100% !important;
}
.col-prfl-limit-11 {
  margin-right: 91.66666667% !important;
}
.col-prfl-limit-10 {
  margin-right: 83.33333333% !important;
}
.col-prfl-limit-9 {
  margin-right: 75% !important;
}
.col-prfl-limit-8 {
  margin-right: 66.66666667% !important;
}
.col-prfl-limit-7 {
  margin-right: 58.33333333% !important;
}
.col-prfl-limit-6 {
  margin-right: 50% !important;
}
.col-prfl-limit-5 {
  margin-right: 41.66666667% !important;
}
.col-prfl-limit-4 {
  margin-right: 33.33333333% !important;
}
.col-prfl-limit-3 {
  margin-right: 25% !important;
}
.col-prfl-limit-2 {
  margin-right: 16.66666667% !important;
}
.col-prfl-limit-1 {
  margin-right: 8.33333333% !important;
}
.col-prfl-limit-0 {
  margin-right: 0;
}
.elm-prfl-show {
  display: block;
}
.elm-prfl-hidden {
  display: none;
}

@media screen and (min-width: 1028px) {
  /* 1028px */
  .col-prfl-lg-1,
  .col-prfl-lg-2,
  .col-prfl-lg-3,
  .col-prfl-lg-4,
  .col-prfl-lg-5,
  .col-prfl-lg-6,
  .col-prfl-lg-7,
  .col-prfl-lg-8,
  .col-prfl-lg-9,
  .col-prfl-lg-10,
  .col-prfl-lg-11,
  .col-prfl-lg-12,
  .col-prfl-lg-offset-1,
  .col-prfl-lg-offset-2,
  .col-prfl-lg-offset-3,
  .col-prfl-lg-offset-4,
  .col-prfl-lg-offset-5,
  .col-prfl-lg-offset-6,
  .col-prfl-lg-offset-7,
  .col-prfl-lg-offset-8,
  .col-prfl-lg-offset-9,
  .col-prfl-lg-offset-10,
  .col-prfl-lg-offset-11,
  .col-prfl-lg-offset-12,
  .col-prfl-lg-limit-1,
  .col-prfl-lg-limit-2,
  .col-prfl-lg-limit-3,
  .col-prfl-lg-limit-4,
  .col-prfl-lg-limit-5,
  .col-prfl-lg-limit-6,
  .col-prfl-lg-limit-7,
  .col-prfl-lg-limit-8,
  .col-prfl-lg-limit-9,
  .col-prfl-lg-limit-10,
  .col-prfl-lg-limit-11,
  .col-prfl-lg-limit-12,
  .elm-prfl-lg-show,
  .elm-prfl-lg-hidden {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
  .col-prfl-lg-12 {
    width: 100% !important;
  }
  .col-prfl-lg-11 {
    width: 91.66666667% !important;
  }
  .col-prfl-lg-10 {
    width: 83.33333333% !important;
  }
  .col-prfl-lg-9 {
    width: 75% !important;
  }
  .col-prfl-lg-8 {
    width: 66.66666667% !important;
  }
  .col-prfl-lg-7 {
    width: 58.33333333% !important;
  }
  .col-prfl-lg-6 {
    width: 50% !important;
  }
  .col-prfl-lg-5 {
    width: 41.66666667% !important;
  }
  .col-prfl-lg-4 {
    width: 33.33333333% !important;
  }
  .col-prfl-lg-3 {
    width: 25% !important;
  }
  .col-prfl-lg-2 {
    width: 16.66666667% !important;
  }
  .col-prfl-lg-1 {
    width: 8.33333333% !important;
  }
  .col-prfl-lg-offset-12 {
    margin-left: 100% !important;
  }
  .col-prfl-lg-offset-11 {
    margin-left: 91.66666667% !important;
  }
  .col-prfl-lg-offset-10 {
    margin-left: 83.33333333% !important;
  }
  .col-prfl-lg-offset-9 {
    margin-left: 75% !important;
  }
  .col-prfl-lg-offset-8 {
    margin-left: 66.66666667% !important;
  }
  .col-prfl-lg-offset-7 {
    margin-left: 58.33333333% !important;
  }
  .col-prfl-lg-offset-6 {
    margin-left: 50% !important;
  }
  .col-prfl-lg-offset-5 {
    margin-left: 41.66666667% !important;
  }
  .col-prfl-lg-offset-4 {
    margin-left: 33.33333333% !important;
  }
  .col-prfl-lg-offset-3 {
    margin-left: 25% !important;
  }
  .col-prfl-lg-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .col-prfl-lg-offset-1 {
    margin-left: 8.33333333% !important;
  }
  .col-prfl-lg-offset-0 {
    margin-left: 0;
  }
  .col-prfl-lg-limit-12 {
    margin-right: 100% !important;
  }
  .col-prfl-lg-limit-11 {
    margin-right: 91.66666667% !important;
  }
  .col-prfl-lg-limit-10 {
    margin-right: 83.33333333% !important;
  }
  .col-prfl-lg-limit-9 {
    margin-right: 75% !important;
  }
  .col-prfl-lg-limit-8 {
    margin-right: 66.66666667% !important;
  }
  .col-prfl-lg-limit-7 {
    margin-right: 58.33333333% !important;
  }
  .col-prfl-lg-limit-6 {
    margin-right: 50% !important;
  }
  .col-prfl-lg-limit-5 {
    margin-right: 41.66666667% !important;
  }
  .col-prfl-lg-limit-4 {
    margin-right: 33.33333333% !important;
  }
  .col-prfl-lg-limit-3 {
    margin-right: 25% !important;
  }
  .col-prfl-lg-limit-2 {
    margin-right: 16.66666667% !important;
  }
  .col-prfl-lg-limit-1 {
    margin-right: 8.33333333% !important;
  }
  .col-prfl-lg-limit-0 {
    margin-right: 0;
  }
  .elm-prfl-lg-show {
    display: block;
  }
  .elm-prfl-lg-hidden {
    display: none;
  }
}
@media screen and (max-width: 1028px) and (min-width: 600px) {
  /* 1028px,992px */
  .col-prfl-md-1,
  .col-prfl-md-2,
  .col-prfl-md-3,
  .col-prfl-md-4,
  .col-prfl-md-5,
  .col-prfl-md-6,
  .col-prfl-md-7,
  .col-prfl-md-8,
  .col-prfl-md-9,
  .col-prfl-md-10,
  .col-prfl-md-11,
  .col-prfl-md-12,
  .col-prfl-md-offset-1,
  .col-prfl-md-offset-2,
  .col-prfl-md-offset-3,
  .col-prfl-md-offset-4,
  .col-prfl-md-offset-5,
  .col-prfl-md-offset-6,
  .col-prfl-md-offset-7,
  .col-prfl-md-offset-8,
  .col-prfl-md-offset-9,
  .col-prfl-md-offset-10,
  .col-prfl-md-offset-11,
  .col-prfl-md-offset-12,
  .col-prfl-md-limit-1,
  .col-prfl-md-limit-2,
  .col-prfl-md-limit-3,
  .col-prfl-md-limit-4,
  .col-prfl-md-limit-5,
  .col-prfl-md-limit-6,
  .col-prfl-md-limit-7,
  .col-prfl-md-limit-8,
  .col-prfl-md-limit-9,
  .col-prfl-md-limit-10,
  .col-prfl-md-limit-11,
  .col-prfl-md-limit-12,
  .elm-prfl-md-show,
  .elm-prfl-md-hidden {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
  .col-prfl-md-12 {
    width: 100% !important;
  }
  .col-prfl-md-11 {
    width: 91.66666667% !important;
  }
  .col-prfl-md-10 {
    width: 83.33333333% !important;
  }
  .col-prfl-md-9 {
    width: 75% !important;
  }
  .col-prfl-md-8 {
    width: 66.66666667% !important;
  }
  .col-prfl-md-7 {
    width: 58.33333333% !important;
  }
  .col-prfl-md-6 {
    width: 50% !important;
  }
  .col-prfl-md-5 {
    width: 41.66666667% !important;
  }
  .col-prfl-md-4 {
    width: 33.33333333% !important;
  }
  .col-prfl-md-3 {
    width: 25% !important;
  }
  .col-prfl-md-2 {
    width: 16.66666667% !important;
  }
  .col-prfl-md-1 {
    width: 8.33333333% !important;
  }
  .col-prfl-md-offset-12 {
    margin-left: 100% !important;
  }
  .col-prfl-md-offset-11 {
    margin-left: 91.66666667% !important;
  }
  .col-prfl-md-offset-10 {
    margin-left: 83.33333333% !important;
  }
  .col-prfl-md-offset-9 {
    margin-left: 75% !important;
  }
  .col-prfl-md-offset-8 {
    margin-left: 66.66666667% !important;
  }
  .col-prfl-md-offset-7 {
    margin-left: 58.33333333% !important;
  }
  .col-prfl-md-offset-6 {
    margin-left: 50% !important;
  }
  .col-prfl-md-offset-5 {
    margin-left: 41.66666667% !important;
  }
  .col-prfl-md-offset-4 {
    margin-left: 33.33333333% !important;
  }
  .col-prfl-md-offset-3 {
    margin-left: 25% !important;
  }
  .col-prfl-md-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .col-prfl-md-offset-1 {
    margin-left: 8.33333333% !important;
  }
  .col-prfl-md-offset-0 {
    margin-left: 0;
  }
  .col-prfl-md-limit-12 {
    margin-right: 100% !important;
  }
  .col-prfl-md-limit-11 {
    margin-right: 91.66666667% !important;
  }
  .col-prfl-md-limit-10 {
    margin-right: 83.33333333% !important;
  }
  .col-prfl-md-limit-9 {
    margin-right: 75% !important;
  }
  .col-prfl-md-limit-8 {
    margin-right: 66.66666667% !important;
  }
  .col-prfl-md-limit-7 {
    margin-right: 58.33333333% !important;
  }
  .col-prfl-md-limit-6 {
    margin-right: 50% !important;
  }
  .col-prfl-md-limit-5 {
    margin-right: 41.66666667% !important;
  }
  .col-prfl-md-limit-4 {
    margin-right: 33.33333333% !important;
  }
  .col-prfl-md-limit-3 {
    margin-right: 25% !important;
  }
  .col-prfl-md-limit-2 {
    margin-right: 16.66666667% !important;
  }
  .col-prfl-md-limit-1 {
    margin-right: 8.33333333% !important;
  }
  .col-prfl-md-limit-0 {
    margin-right: 0;
  }
  .elm-prfl-md-show {
    display: block;
  }
  .elm-prfl-md-hidden {
    display: none;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
  /* 992px */
  .col-prfl-sm-1,
  .col-prfl-sm-2,
  .col-prfl-sm-3,
  .col-prfl-sm-4,
  .col-prfl-sm-5,
  .col-prfl-sm-6,
  .col-prfl-sm-7,
  .col-prfl-sm-8,
  .col-prfl-sm-9,
  .col-prfl-sm-10,
  .col-prfl-sm-11,
  .col-prfl-sm-12,
  .col-prfl-sm-offset-1,
  .col-prfl-sm-offset-2,
  .col-prfl-sm-offset-3,
  .col-prfl-sm-offset-4,
  .col-prfl-sm-offset-5,
  .col-prfl-sm-offset-6,
  .col-prfl-sm-offset-7,
  .col-prfl-sm-offset-8,
  .col-prfl-sm-offset-9,
  .col-prfl-sm-offset-10,
  .col-prfl-sm-offset-11,
  .col-prfl-sm-offset-12,
  .col-prfl-sm-limit-1,
  .col-prfl-sm-limit-2,
  .col-prfl-sm-limit-3,
  .col-prfl-sm-limit-4,
  .col-prfl-sm-limit-5,
  .col-prfl-sm-limit-6,
  .col-prfl-sm-limit-7,
  .col-prfl-sm-limit-8,
  .col-prfl-sm-limit-9,
  .col-prfl-sm-limit-10,
  .col-prfl-sm-limit-11,
  .col-prfl-sm-limit-12,
  .elm-prfl-sm-show,
  .elm-prfl-sm-hidden {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
  .col-prfl-sm-12 {
    width: 100% !important;
  }
  .col-prfl-sm-11 {
    width: 91.66666667% !important;
  }
  .col-prfl-sm-10 {
    width: 83.33333333% !important;
  }
  .col-prfl-sm-9 {
    width: 75% !important;
  }
  .col-prfl-sm-8 {
    width: 66.66666667% !important;
  }
  .col-prfl-sm-7 {
    width: 58.33333333% !important;
  }
  .col-prfl-sm-6 {
    width: 50% !important;
  }
  .col-prfl-sm-5 {
    width: 41.66666667% !important;
  }
  .col-prfl-sm-4 {
    width: 33.33333333% !important;
  }
  .col-prfl-sm-3 {
    width: 25% !important;
  }
  .col-prfl-sm-2 {
    width: 16.66666667% !important;
  }
  .col-prfl-sm-1 {
    width: 8.33333333% !important;
  }
  .col-prfl-sm-offset-12 {
    margin-left: 100% !important;
  }
  .col-prfl-sm-offset-11 {
    margin-left: 91.66666667% !important;
  }
  .col-prfl-sm-offset-10 {
    margin-left: 83.33333333% !important;
  }
  .col-prfl-sm-offset-9 {
    margin-left: 75% !important;
  }
  .col-prfl-sm-offset-8 {
    margin-left: 66.66666667% !important;
  }
  .col-prfl-sm-offset-7 {
    margin-left: 58.33333333% !important;
  }
  .col-prfl-sm-offset-6 {
    margin-left: 50% !important;
  }
  .col-prfl-sm-offset-5 {
    margin-left: 41.66666667% !important;
  }
  .col-prfl-sm-offset-4 {
    margin-left: 33.33333333% !important;
  }
  .col-prfl-sm-offset-3 {
    margin-left: 25% !important;
  }
  .col-prfl-sm-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .col-prfl-sm-offset-1 {
    margin-left: 8.33333333% !important;
  }
  .col-prfl-sm-offset-0 {
    margin-left: 0;
  }
  .col-prfl-sm-limit-12 {
    margin-right: 100% !important;
  }
  .col-prfl-sm-limit-11 {
    margin-right: 91.66666667% !important;
  }
  .col-prfl-sm-limit-10 {
    margin-right: 83.33333333% !important;
  }
  .col-prfl-sm-limit-9 {
    margin-right: 75% !important;
  }
  .col-prfl-sm-limit-8 {
    margin-right: 66.66666667% !important;
  }
  .col-prfl-sm-limit-7 {
    margin-right: 58.33333333% !important;
  }
  .col-prfl-sm-limit-6 {
    margin-right: 50% !important;
  }
  .col-prfl-sm-limit-5 {
    margin-right: 41.66666667% !important;
  }
  .col-prfl-sm-limit-4 {
    margin-right: 33.33333333% !important;
  }
  .col-prfl-sm-limit-3 {
    margin-right: 25% !important;
  }
  .col-prfl-sm-limit-2 {
    margin-right: 16.66666667% !important;
  }
  .col-prfl-sm-limit-1 {
    margin-right: 8.33333333% !important;
  }
  .col-prfl-sm-limit-0 {
    margin-right: 0;
  }
  .elm-prfl-sm-show {
    display: block;
  }
  .elm-prfl-sm-hidden {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  /* 992px */
  .col-prfl-xs-1,
  .col-prfl-xs-2,
  .col-prfl-xs-3,
  .col-prfl-xs-4,
  .col-prfl-xs-5,
  .col-prfl-xs-6,
  .col-prfl-xs-7,
  .col-prfl-xs-8,
  .col-prfl-xs-9,
  .col-prfl-xs-10,
  .col-prfl-xs-11,
  .col-prfl-xs-12,
  .col-prfl-xs-offset-1,
  .col-prfl-xs-offset-2,
  .col-prfl-xs-offset-3,
  .col-prfl-xs-offset-4,
  .col-prfl-xs-offset-5,
  .col-prfl-xs-offset-6,
  .col-prfl-xs-offset-7,
  .col-prfl-xs-offset-8,
  .col-prfl-xs-offset-9,
  .col-prfl-xs-offset-10,
  .col-prfl-xs-offset-11,
  .col-prfl-xs-offset-12,
  .col-prfl-xs-limit-1,
  .col-prfl-xs-limit-2,
  .col-prfl-xs-limit-3,
  .col-prfl-xs-limit-4,
  .col-prfl-xs-limit-5,
  .col-prfl-xs-limit-6,
  .col-prfl-xs-limit-7,
  .col-prfl-xs-limit-8,
  .col-prfl-xs-limit-9,
  .col-prfl-xs-limit-10,
  .col-prfl-xs-limit-11,
  .col-prfl-xs-limit-12,
  .elm-prfl-xs-show,
  .elm-prfl-xs-hidden {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
  }
  .col-prfl-xs-12 {
    width: 100% !important;
  }
  .col-prfl-xs-11 {
    width: 91.66666667% !important;
  }
  .col-prfl-xs-10 {
    width: 83.33333333% !important;
  }
  .col-prfl-xs-9 {
    width: 75% !important;
  }
  .col-prfl-xs-8 {
    width: 66.66666667% !important;
  }
  .col-prfl-xs-7 {
    width: 58.33333333% !important;
  }
  .col-prfl-xs-6 {
    width: 50% !important;
  }
  .col-prfl-xs-5 {
    width: 41.66666667% !important;
  }
  .col-prfl-xs-4 {
    width: 33.33333333% !important;
  }
  .col-prfl-xs-3 {
    width: 25% !important;
  }
  .col-prfl-xs-2 {
    width: 16.66666667% !important;
  }
  .col-prfl-xs-1 {
    width: 8.33333333% !important;
  }
  .col-prfl-xs-offset-12 {
    margin-left: 100% !important;
  }
  .col-prfl-xs-offset-11 {
    margin-left: 91.66666667% !important;
  }
  .col-prfl-xs-offset-10 {
    margin-left: 83.33333333% !important;
  }
  .col-prfl-xs-offset-9 {
    margin-left: 75% !important;
  }
  .col-prfl-xs-offset-8 {
    margin-left: 66.66666667% !important;
  }
  .col-prfl-xs-offset-7 {
    margin-left: 58.33333333% !important;
  }
  .col-prfl-xs-offset-6 {
    margin-left: 50% !important;
  }
  .col-prfl-xs-offset-5 {
    margin-left: 41.66666667% !important;
  }
  .col-prfl-xs-offset-4 {
    margin-left: 33.33333333% !important;
  }
  .col-prfl-xs-offset-3 {
    margin-left: 25% !important;
  }
  .col-prfl-xs-offset-2 {
    margin-left: 16.66666667% !important;
  }
  .col-prfl-xs-offset-1 {
    margin-left: 8.33333333% !important;
  }
  .col-prfl-xs-offset-0 {
    margin-left: 0;
  }
  .col-prfl-xs-limit-12 {
    margin-right: 100% !important;
  }
  .col-prfl-xs-limit-11 {
    margin-right: 91.66666667% !important;
  }
  .col-prfl-xs-limit-10 {
    margin-right: 83.33333333% !important;
  }
  .col-prfl-xs-limit-9 {
    margin-right: 75% !important;
  }
  .col-prfl-xs-limit-8 {
    margin-right: 66.66666667% !important;
  }
  .col-prfl-xs-limit-7 {
    margin-right: 58.33333333% !important;
  }
  .col-prfl-xs-limit-6 {
    margin-right: 50% !important;
  }
  .col-prfl-xs-limit-5 {
    margin-right: 41.66666667% !important;
  }
  .col-prfl-xs-limit-4 {
    margin-right: 33.33333333% !important;
  }
  .col-prfl-xs-limit-3 {
    margin-right: 25% !important;
  }
  .col-prfl-xs-limit-2 {
    margin-right: 16.66666667% !important;
  }
  .col-prfl-xs-limit-1 {
    margin-right: 8.33333333% !important;
  }
  .col-prfl-xs-limit-0 {
    margin-right: 0;
  }
  .elm-prfl-xs-show {
    display: block;
  }
  .elm-prfl-xs-hidden {
    display: none;
  }
}

// wrapping grid
.side-responsive {
  @extend .col-prfl-md-6;
  @extend .col-prfl-sm-12;
  @extend .col-prfl-xs-12;
}

.side1 {
  @extend .col-prfl-lg-1;
  @extend .side-responsive;
}

.side2 {
  @extend .col-prfl-lg-2;
  @extend .side-responsive;
}

.side3 {
  @extend .col-prfl-lg-3;
  @extend .side-responsive;
}

.side4 {
  @extend .col-prfl-lg-4;
  @extend .side-responsive;
}

.side5 {
  @extend .col-prfl-lg-5;
  @extend .side-responsive;
}

.side6 {
  @extend .col-prfl-lg-6;
  @extend .side-responsive;
}

.side7 {
  @extend .col-prfl-lg-7;
  @extend .side-responsive;
}

.side8 {
  @extend .col-prfl-lg-8;
  @extend .side-responsive;
}

.side9 {
  @extend .col-prfl-lg-9;
  @extend .side-responsive;
}

.side10 {
  @extend .col-prfl-lg-10;
  @extend .side-responsive;
}

.side11 {
  @extend .col-prfl-lg-11;
  @extend .side-responsive;
}

.side12 {
  @extend .col-prfl-lg-12;
  @extend .side-responsive;
}

/* tambahan untuk pre */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -webkit-tab-size: 4;
  tab-size: 4;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
}

pre,
xmp,
plaintext,
listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

/*
<div class="outer" id="image_popup" style="display: table; position: fixed; height: 100%; width: 100%; left: 0; top: 0;">
      <div class="middle" style="display: table-cell; vertical-align: middle;">
             <div class="inner" style="margin: 0 auto; width: 90%;">
                   <h1>The Content</h1>
                   <p>Once upon a midnight dreary...</p>
            </div>
      </div>
</div>
untuk outside div trigger close :
$("#image_popup").on("click", function (e) {
      if ($(e.target).closest(".inner").length === 0) {
             $("#image_popup").css("display","none");
      }
});
*/
