@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'standard.scss';

.action_active{
	@apply flex-1 border border-solid border-gray-200 cursor-pointer text-black bg-white;
	&:hover{
		@apply text-black;
	}
}

.action_non_active{
	@apply flex-1 border-2 border-solid border-gray-200 cursor-pointer text-white;
}

/* page : /Users/macbook/webapp/profile4/project_lms/views/default/main/template.php */
.page1_mainmenu:hover{
  &>svg{
	@apply text-black;
  }
  &>a{
	@apply text-black;
  }
}

/* page : /Users/macbook/webapp/profile4/project_lms/views/default/main/registrasi.php */
.page1_mainmenu:hover{
  &>svg{
	@apply text-black;
  }
  &>a{
	@apply text-black;
  }
}


