@import 'main.scss';

// spcial app
$coklat-tua : #ccc;
$text-color : #000;

.button-standard {
    border: 1px solid #ccc;
    color: #333;
    border-radius: 3px;
    margin-right: 5px;
}

.std-input{
  border: 1px solid $coklat-tua;
  padding: 10px;
  width: 150px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.hide{
  display: none;
}

[v-cloak] {
  display: none !important;
}

/* /Users/macbook/webapp/profile/tmms/views/default/resource/data_resource.php */
.page1_block1{
  .page1_block2 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      .page1_part1 {
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 25px;
          border-radius: 5px 5px 0 0;
          cursor: pointer;
          margin: 0;
          &.active{
              border-style: solid;
              border-color: #ccc;
              border-width: 1px 1px 0 1px;
          }
          &:hover{
              color: white;
              background-color: #ccc;
          }
      }
  }
}

/* /Users/macbook/webapp/profile/tmms/views/default/resource/detail_machine.php */
.page2_block1{
  .page2_block2{
    label{
      width: 100px;
    }
  }
}

/* /Users/macbook/webapp/profile/tmms/views/default/resource/schedule_resource.php */
.page3_block1{
  .page3_block2{
    .block_legend{
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 1px solid #ccc;
      padding: 3px;
      margin-right: 10px;
      text-align: center;
    }
    .block_working{
      background-color: #fff;
    }
    .block_nonworking{
      background-color: #ccc;
    }
    .block_edited{
      text-decoration: underline;      
    }
    .block_holidays{
      text-decoration: underline;
      background-color: #bce8f1;
    }
    .page3_block4{ /* legend */
      font-size: 90%;
      margin-top: 15px;
    }
    .page3_block3{ /* calendar */
      padding: -10px 10px;
      table{
        text-align: center;
        th{
          border-style: solid;
          border-width: 0 0 1px 0;
          border-color: #fff;
          background-color: #eee; 
          height: 30px;
        }
        td{
          border-style: solid;
          border-width: 0 1px 1px 1px;
          border-color: #eee;
          height: 30px;
        }
      }
    }
  }
  #block_tabulation{
    .page3_block2 {
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        .page3_part1 {
            display: inline-block;
            box-sizing: border-box;
            padding: 5px 25px;
            border-radius: 5px 5px 0 0;
            cursor: pointer;
            margin: 0;
            &.active{
                border-style: solid;
                border-color: #ccc;
                border-width: 1px 1px 0 1px;
            }
            &:hover{
                color: white;
                background-color: #ccc;
            }
        }
    }
  }
}

/* /Users/macbook/webapp/profile/tmms/views/default/resource/resource_manager.php */
.page4_block1{
  .page4_block2 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      .page4_part1 {
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 25px;
          border-radius: 5px 5px 0 0;
          cursor: pointer;
          margin: 0;
          &.active{
              border-style: solid;
              border-color: #ccc;
              border-width: 1px 1px 0 1px;
          }
          &:hover{
              color: white;
              background-color: #ccc;
          }
      }
  }
}
.page4_block3{
  .page4_block4{
    background-color: #ddd;
    padding: 10px;
  }
}
.page4_block4{
  .page4_block5{
    border-bottom: 1px solid #ddd;
    display: block;
    width: 100%;
    .page4_part2 {
        padding: 3px 10px;
        cursor: pointer;
        &:hover{
          background-color: #ddd;
          color: #fff;
        }
        &.active{
          border-style: solid;
          border-width: 1px 1px 0 1px;
          border-color: #ddd;
          border-radius: 5px;
          background-color: #ddd;
          color: #fff;
        }
    }
  }
}

/* /Users/macbook/webapp/profile/tmms/views/default/resource/resource_all_process.php */
.page5_block1{
  table{
    font-family: arial;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
    font-size: 80%;
    tr{
      td,th{
        border: 1px solid #ddd;
      }
      th{
        background-color: #777;
        color: #fff;
      }
    }
  }
}

/* /Users/macbook/webapp/profile/tmms/views/default/planning/master_project.php */
.page6_block1{
    .page6_block2{
      &#page6_block2_loop1{
      }
      &#page6_block2_loop2{
      }
    }
}

/* /Users/macbook/webapp/profile/project_tmms2/views/default/planning/master_plan.php */
.page7_block1{
  .page7_block2{
    label{
      width: 100px;
    }
  }
}
.page7_block3{
  .page7_block4 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      .page7_part1 {
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 25px;
          border-radius: 5px 5px 0 0;
          cursor: pointer;
          margin: 0;
          &.active{
              border-style: solid;
              border-color: #ccc;
              border-width: 1px 1px 0 1px;
          }
          &:hover{
              color: white;
              background-color: #ccc;
          }
      }
  }
}

/* /Users/macbook/webapp/profile3/project_tmms2/views/default/planning/master_material.php */
.page8_block1{
  .page8_block2 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      .page8_part1 {
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 25px;
          border-radius: 5px 5px 0 0;
          cursor: pointer;
          margin: 0;
          &.active{
              border-style: solid;
              border-color: #ccc;
              border-width: 1px 1px 0 1px;
          }
          &:hover{
              color: white;
              background-color: #ccc;
          }
      }
  }
}

/* /Users/macbook/webapp/profile3/project_tmms2/views/default/planning/detail_plan.php */
.page9_block1#block_tabulation{
  .page9_block2 {
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
      .page9_part1 {
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 25px;
          border-radius: 5px 5px 0 0;
          cursor: pointer;
          margin: 0;
          &.active{
              border-style: solid;
              border-color: #ccc;
              border-width: 1px 1px 0 1px;
          }
          &:hover{
              color: white;
              background-color: #ccc;
          }
      }
  }
}


