<template>
  <div>
    <!-- Navigation -->
    <Navigation/>
    <!-- Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9">
          <!-- Content -->
          <Nuxt/>
        </div>
        <div class="col-md-3 col-lg-3">
          <!-- Sidebar -->
          <h4>Ini side bar</h4>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <h4>Ini footer</h4>
  </div>
</template>

<script>
import Navigation from '~/components/Navigation.vue'
export default {
  components: {
    Navigation
  }
}
</script>