<template>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Agenda</h3>
            </div>
            <div class="card-body">
                <ul>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'AgendaInput'
    }
</script>