<template>
  <div>
    <nav>
      <div>
      
        <ul>
          <li>Menu 1</li>
          <li>Menu 2</li>
          <li>Menu 3</li>
          <li>Menu 4</li>
        </ul>

      </div>
    </nav>
  </div>
</template>