<template>
  <div>
    <link rel="stylesheet" v-bind:href="$store.state.SYSTEM.base_url+'assets/load_assets/tailwind/dist/min.css?creq=4b5f590443796801121a196b17222b'" />
    <!-- <link rel="stylesheet" v-bind:href="http://localhost:3001/core/assets/load_assets/tailwind/dist/min.css" /> -->

    <!-- jQuery UI 1.11.4 -->
    <script v-bind:src="$store.state.SYSTEM.base_url+'assets/load_script/jquery/jquery-1.11.3.min?creq=4b5f590443796801121a196b17222b'"></script>
    <script v-bind:src="$store.state.SYSTEM.base_url+'assets/load_script/jquery/jquery-ui?creq=4b5f590443796801121a196b17222b'"></script>
    <script v-bind:src="$store.state.SYSTEM.base_url+'assets/load_script/jquery/jquery-dateFormat.min?creq=4b5f590443796801121a196b17222b'"></script>
    <script v-bind:src="$store.state.SYSTEM.base_url+'assets/load_script/jquery/jquery.status>jquery/jquery.utils>jquery/jquery.stringify?creq=4b5f590443796801121a196b17222b'"></script>

    <script v-bind:src="$store.state.SYSTEM.base_url+'assets/load_script/jquery/jquery.simasgrid.2?creq=4b5f590443796801121a196b17222b'"></script>
    <link rel="stylesheet" v-bind:href="$store.state.SYSTEM.base_url+'assets/load_style/jquery/jquery.simasgrid.2a?creq=4b5f590443796801121a196b17222b'" />
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    return {
      'data':false
    }
  }
  ,mounted:function(){

    //check di setiap halaman, apakah jquery sudah di load
    const awaitScriptInterval = setInterval(() => {
        if (typeof jQuery !== 'undefined') {
            clearTimeout(awaitScriptInterval);

            (function($){
                $.extend({
                    newfunc: function (){}
                    ,jsObj:{
                      boxElemen: {
                        show: function(){
                          $.vueElemen.show();
                        }
                        ,hide: function(){
                          $.vueElemen.hide();
                        }
                      }
                    }
                    ,init: function(){
                      // $.vueElemen.init();
                    }
                });
            })( jQuery );
            $(document).ready(function(){
                // $.init();
            });
        }
    }, 500);

    // update path
    var $this=this;
    axios.get("/core/main/module/general/base_url",{
    }).then( (data) => {
        var res = '';
        if(data.status == 200){
          res=data.data;
        }else{
          res='undefined';
        }
        // $this.$store.commit("SYSTEM/UPDATE_BASE_URL",res);
        $this.$store.commit("SYSTEM/UPDATE_BASE_URL",$this.$store.state.SYSTEM.base_url);
    });

  }
}
</script>