<template>
  	<div class="container">
    <div>
	    <br />
	    <Nuxt-Link v-bind:to="'/videos'">Link Videos</Nuxt-Link>
	    <br />
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty'
  ,mounted:function(){
    if(!this.$store.state.SYSTEM.credential){
      this.$router.push('/login');
    }
  }
}
</script>