<template>
  	<div class="container">
    <div>
	    <br />
	    <Nuxt-Link v-bind:to="'/videos'">Link Videos</Nuxt-Link>
	    <br />
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty'
  ,mounted:function(){ // hanya bisa update data
  	console.log('mounted is here');
  	console.log(this.$store.state.SYSTEM.system.base_url)
  	this.$store.dispatch("SYSTEM/ACTION_UPDATE_SYSTEM",{'base_url':'halaman index'});
  	console.log(this.$store.state.SYSTEM.system.base_url);
  }
}
</script>