<template>
  <div class="body" v-bind:style="'background-image: url('+$store.state.SYSTEM.base_url+'assets/load_assets/images/bg3.jpg);'">
    <div class="login-wrap">
      <img style="height: 100%;width: 100%;padding: 0;margin: 0;" v-bind:src="$store.state.SYSTEM.base_url+'assets/load_assets/images/bg1.jpg?creq=4b5f590443796801121a196b17222b'" />
      <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" disabled="disabled"><label for="tab-2" class="tab"></label>
        <div class="login-form">
          <form v-bind:action="$store.state.SYSTEM.base_url+'general/login'" method="post">
            <div class="sign-in-htm">
              <div class="group">
                <label for="username" class="label">Email</label>
                <input v-bind:model="username" id="username" type="text" name="username" class="input">
              </div>
              <div class="group">
                <label for="password" class="label">Password</label>
                <input v-bind:model="password" id="password" type="password" name="password" class="input" data-type="password">
              </div>
              <!--
              <div class="group">
                <input id="check" type="checkbox" class="check" checked>
                <label for="check"><span class="icon"></span> Keep me Signed in</label>
              </div>
              -->
              <div class="group">
                <input type="submit" class="button" value="Log In" v-on:click="submit">
              </div>
              <!--
              <div class="hr"></div>
              <div class="foot-lnk">
                <a href="#forgot">Forgot Password?</a>
              </div>
              -->
            </div>
            <div class="sign-up-htm" style="display: none;">
              <div class="group">
                <label for="username" class="label">Username</label>
                <input id="username" type="text" class="input">
              </div>
              <div class="group">
                <label for="password" class="label">Password</label>
                <input id="password" type="password" class="input" data-type="password">
              </div>
              <div class="group">
                <label for="password" class="label">Repeat Password</label>
                <input id="password" type="password" class="input" data-type="password">
              </div>
              <div class="group">
                <label for="pass" class="label">Email Address</label>
                <input id="pass" type="text" class="input">
              </div>
              <div class="group">
                <input type="submit" class="button" value="Sign Up" v-on:click="submit">
              </div>
              <div class="hr"></div>
              <div class="foot-lnk">
                <label for="tab-1">Already Member?</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
// https://axios.nuxtjs.org/usage/
export default {
  head:{
    'title':'External Login TMMS'
  }
  ,layout: 'empty'
  ,data(){
    return {
      'username':''
      ,'password':''
    }
  }
  ,mounted:function(){
    if(this.$store.state.SYSTEM.credential){
      this.$router.push('/');
    }
  }
  ,methods: {
      submit (){
          if(this.$store.state.SYSTEM.credential){
            this.$router.push('/');
          }else{
            axios.get(this.$store.state.SYSTEM.base_url+"main/credential",{
            }).then( (data) => {
              if(data.data.credential){
                this.$store.commit('SYSTEM/UPDATE_CREDENTIAL',data.data.credential); // mutation
                this.$router.push('/');
              }else{
                axios.post(this.$store.state.SYSTEM.base_url+"main/external_login",{
                  username: this.username,
                  password: this.password,
                  request: 'ajax'
                }).then( (data) => {
                    if(data.data.state){
                      this.$store.commit('SYSTEM/UPDATE_CREDENTIAL',data.data.credential); // mutation
                    }
                    this.$router.push('/');
                });
              }
            });
          }
      }
  }
}
</script>

<style>
  body{
    margin:0;
  }
  .body{
    margin:0;
    color:#6a6f8c;
    background:#c8c8c8;
    font:600 16px/18px 'Open Sans',sans-serif;

    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: auto 100%; /* latihan */
    background-attachment: fixed; /*fixed=test, scroll=bisa di scroll, contoh*/
    background-position: center center; /*posisi horizontal vertical contoh*/
  }
  *,:after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:inherit;text-decoration:none}

  .login-wrap{
    width:100%;
    margin:auto;
    margin-top: 100px;
    max-width:525px;
    min-height:400px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .login-html{
    width:100%;
    height:100%;
    position:relative;
    padding:70px 70px 50px 70px;
    background:rgba(40,57,101,.9);
  }
  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
  }
  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
  }
  .login-form{
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
  }
  .login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
  }
  .login-form .group .label{
    color:#aaa;
    font-size:12px;
  }
  .login-form .group .button{
    background:#1161ee;
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#fff;
  }
  .login-form .group .check:checked + label .icon{
    background:#1161ee;
  }
  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }

  .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
  }
  .foot-lnk{
    text-align:center;
  }
</style>

