<template>
  <div>
    <h2>Hello Dude!</h2>
    <p>{{ message }}</p>
    <div>{{keterangan}}</div>
    <input type="text" v-model="message">
    <button v-on:click="showAlert">Show Message</button>
  </div>  
</template>

<style>
	html,
	body {
	  padding: 0;
	  margin: 0;
	}
	body {
	  width: 100%;
	  height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	}
	h2 {
	  font-size: 48px;
	  color: #389acd;
	}
	p {
	  font-size: 18px;
	  color: #ababab;
	}
</style>

<script>
export default {
  data () {
    return {
      message: 'Nuxt it\'s so cool..'
      ,keterangan: 'Tambahan Keterangan'
    }
  },
  methods: {
    showAlert (e) {
      alert(this.message)
    }
  }
}
</script>