<template>
  <div>
    <h1>Halaman Parent Video</h1>
    <h2>Halaman ini bisa load Layout</h2>

    <br />
    <div>Halaman Content</div>
    <nuxt-child v-bind:globaldata="{'currdata':GET_CURRDATA,'model1':GET_MODEL1,'submodel1':GET_SUBMODEL1,'submodel2':GET_SUBMODEL2}" keep-alive/>

    <br />
    <Nuxt-Link v-bind:to="'/'">Link index</Nuxt-Link>
    <br />

    <br />
    <div>Daftar Fungsi</div>
    <div v-on:click="event1">event1</div>
    <div v-on:click="event2">event2</div>
    <div v-on:click="event3">event3</div>
    <div v-on:click="event4">event4</div>
    <div v-on:click="event5">event5</div>
    <div v-on:click="event6">event6</div>
  </div>
</template>

<script>
import axios from 'axios'
// https://axios.nuxtjs.org/usage/
export default {
	head:{
		'title':'Belajar Nuxt JS'
		,'BASE_URL':''
	}
	,layout: 'empty'
	,data(){
		return {
			'description':'update data description from parent'
			,'data2':''
			// ,'datatest':this.$store.datatest
		}
	}
	,created:() => { // hanya bisa update data
		console.log('created is here');
	}
	,mounted:function(){ // hanya bisa update data
		// console.log('mounted is here');
  		// console.log(this.$store.state.SYSTEM.system.base_url);
		// this.$store.dispatch("SYSTEM/ACTION_UPDATE_SYSTEM",{'base_url':'halaman videos'});
		// console.log(this.$store.state.SYSTEM.system.base_url);
  		// this.$router.push('/');
	}
	,computed:{// hanya ada di page untuk pass data ke component
		GET_CURRDATA(){
		  return this.$store.state.currdata;
		}
		,GET_MODEL1(){
		  return this.$store.state.INST_MODEL1.model1;
		}
		,GET_SUBMODEL1(){
		  return this.$store.state.INST_SUBMODEL1.submodel1;
		}
		,GET_SUBMODEL2(){
		  return this.$store.state.INST_SUBMODEL2.submodel2;
		}
	}
	,methods: {
	    populate () {
	    	console.log(this.$store.state.currdata);
	    	console.log(this.$store.state.INST_MODEL1.model1);
	    	console.log(this.$store.state.INST_SUBMODEL1.submodel1);
	    	console.log(this.$store.state.INST_SUBMODEL2.submodel2);
	    } 
	    ,event1 () {
	    	alert('test');
	    	this.populate();
	    } 
	    ,event2 () {
         	axios.post("http://localhost:3001/core/main/json",{
	          username: '',
	          password: '',
	          email: ''
	        }).then( (data) => {
	        	console.log(data);
	            this.$store.commit('UPDATE_CURRDATA',data.data); // mutation
	            this.$store.commit('INST_MODEL1/UPDATE_MODEL1',data.data);
	            this.$store.commit('INST_SUBMODEL1/UPDATE_SUBMODEL1',data.data);
	            this.$store.commit('INST_SUBMODEL2/UPDATE_SUBMODEL2',data.data);

	    		this.populate();
      			// this.$store.dispatch("MODULE_USER/ACTION_ADD_USER",{'data1':'data1','data2':'data2'});
	            // console.log('token is set to:',  this.$store.state.token)
	        });
	    }
	    ,event3 () {
         	axios.post("http://localhost:3001/core/main/json",{
	          username: '',
	          password: '',
	          email: ''
	        }).then( (data) => {
	        	console.log(data);
	            this.$store.dispatch('ACTION_UPDATE_CURRDATA',data.data); // actions
	            this.$store.dispatch('INST_MODEL1/ACTION_UPDATE_MODEL1',data.data);
	            this.$store.dispatch('INST_SUBMODEL1/ACTION_UPDATE_SUBMODEL1',data.data);
	            this.$store.dispatch('INST_SUBMODEL2/ACTION_UPDATE_SUBMODEL2',data.data);

	    		this.populate();
      			// this.$store.dispatch("MODULE_USER/ACTION_ADD_USER",{'data1':'data1','data2':'data2'});
	            // console.log('token is set to:',  this.$store.state.token)
	        });
	    }
	    ,event4 () { // padanannya adalah populate()
	    	console.log(this.$store.getters.GET_CURRDATA);
	    	console.log(this.$store.getters['INST_MODEL1/GET_MODEL1']);
	    	console.log(this.$store.getters['INST_SUBMODEL1/GET_SUBMODEL1']);
	    	console.log(this.$store.getters['INST_SUBMODEL2/GET_SUBMODEL2']);
	    }
	    ,event5 () { // ambil data parent
	    	console.log(this.$store.getters['INST_SUBMODEL1/GET_CURRDATA']);
	    }
	    ,event5 () { // ambil data teman
	    	console.log(this.$store.getters['INST_SUBMODEL1/GET_SUBMODEL2']);
	    }
	    ,event6 () {
	    	console.log('resize');
	    	$.jsObj.video_table.rebuildGrid();
	    	$.jsObj.video_table.resize('50%');
	    }
	    ,async fetchSomething() {
		    const ip = await this.$axios.$get('http://icanhazip.com');
		    this.data2 = ip;
		 }
	}
}
</script>