<template>
  <div id="app" class="container">
    <div class="row py-4">
      <agenda-input />
      <agenda-show />
    </div>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
  data () {
    return {
      message: 'Nuxt it\'s so cool..'
      ,keterangan: 'Tambahan Keterangan'
    }
  },
  methods: {
    ...mapActions({
      ACTION_ADD_USER:'MODULE_USER/ACTION_ADD_USER'
    }),
    commit() {
      // this.$store.dispatch("MODULE_USER/ACTION_ADD_USER",{'data1':'data1','data2':'data2'});
      this.ACTION_ADD_USER({'data1':'data1','data2':'data2'}).then((value)=>{
        alert(value)
      });
    }
  }
  ,computed:{
    // method tidak bisa passing variable di fungsi
    // caching sampai elemen didalamnya ada perubahan
    // fullName computed lebih baik dari pada watcher firstname dan lastname
    getMessage: function(){
      return this.message;
    },
    ...mapGetters({
      GET_LIST_USER:'MODULE_USER/GET_LIST_USER'
    })
    ,_message: {
                        get: function() {
                          return 'new '+this.message;
                        },
                        set: function(newValue) {
                          this.message=newValue;
                        }
                }
  }
  ,watch:{
    GET_LIST_USER(param){
      this.listuser=[]
      this.$nextTick(function(){
        this.listuser=param;
      });
    }
  }

}
</script>